@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
html {
    scroll-behavior: smooth;
}

body {
    font-family: Noto Sans TC, \\5FAE\8EDF\6B63\9ED1\9AD4, Microsoft JhengHei, sans-serif;
    font-size: 14px;
    color: #696969;
    align-items: center;
    background: rgb(196, 248, 255);
}

h1 {
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    margin: 15px 0px;
    text-align: center;
    font-size: 16px;
    position: relative;
}

#play-button {
    position: absolute;
    background: #f08080;
    border-radius: 3px;
    border: none;
    color: white;
    padding: 0 12px;
    width: 60px;
    cursor: pointer;
    height: 30px;
    margin: 800px 0px 0px 900px;
}

#play-button:hover {
    background-color: #696969;
}

#description {
    margin: 0% 20%;
    font-size: 16px;
}

.ticks {
    font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
    stroke-linecap: round;
}

.track {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
}

.track-inset {
    stroke: #dcdcdc;
    stroke-width: 8px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: crosshair;
}

.handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
}

.root {
    fill: #ffffff;
    fill-opacity: 0.5;
    stroke: rgb(31, 119, 180);
    stroke-width: 1px;
}

text {
    font: 10px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 10px;
    font: 14px;
    background: lightsteelblue;
    border: 1px;
    border-radius: 8px;
    pointer-events: none;
}